*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(360deg, #e7b3e7, #710c90);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    color: rgba(58, 8, 87, 0.861);
    text-align: center;
    padding-bottom: 20px;
}

input{
    display: block;
    border: none;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    padding: 10px 0;
}

button{
    border: none;
    padding: 10px;
    margin: 2px;
    border-radius: 30px;
    cursor: pointer;

    &:hover{
        background-color: #710c90;
    }
}

div{
    text-align: center;
}